# Environment file for llm-management server

# App
export EXOSCALE_API_KEY=
export EXOSCALE_API_SECRET=
export HUGGINGFACE_TOKEN=
export SERVER_ROLE=
export AUTH_TOKENS='{"llmm":"token"}'

# Stack
export PORT=
export STACK=
export COMPOSE_FILE=

